<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.cantireinnovations.httpoverwifi" version="0.0.1">

    <name>httpOverWifi</name>
    <author>Canadian Tire Innovations</author>
    <description>Make HTTP requests over WiFi network</description>
    <license>MIT</license>
    <keywords>network</keywords>

    <js-module src="www/httpOverWifi.js" name="httpOverWifi">
        <clobbers target="window.httpOverWifi" />
    </js-module>

    <platform name="android">

        <!--<config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>-->

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HttpOverWifi">
                <param name="android-package" value="com.cantireinnovations.httpoverwifi.HttpOverWifi" />
            </feature>
        </config-file>

        <source-file
            src="src/android/src/com/cantireinnovations/httpoverwifi/HttpOverWifi.java"
            target-dir="src/com/cantireinnovations/httpoverwifi" />

    </platform>

</plugin>